# Labeling Attack Data Based on Experiment Heuristics

- Labeling benign traffic as label=0, and malcicious traffic as label=1

In [6]:
import pandas as pd

## Attack 1

This dataset is really small.. I honestly dont think its worth the time to figure out labeling...

In [61]:
attack1 = pd.read_parquet("./attack1_parquet/")

In [62]:
attack1

,t_first,t_last,src4_addr,src6_addr,src_port,src_tos,dst4_addr,dst6_addr,dst_port,icmp_code,...,label,proto,sampled,export_sysid,fwd_status,app_latency,cli_latency,srv_latency,out_bytes,out_packets
0,2023-10-05 11:07:43.148,2023-10-05T07:07:44.205,52.96.191.114,None,443,0,75.41.1.200,None,2578,NaN,...,<none>,6,0,0,0,53.493000,39.191002,0.334,13122,23
1,2023-10-05 11:07:43.148,2023-10-05T07:07:44.210,75.41.1.200,None,2578,0,52.96.191.114,None,443,NaN,...,<none>,6,0,0,0,53.493000,39.191002,0.334,8425,26
2,2023-10-05 11:07:58.124,2023-10-05T07:07:58.239,151.101.183.5,None,443,0,75.41.1.200,None,44738,NaN,...,<none>,6,0,0,0,0.051000,0.186000,0.328,5256,114
3,2023-10-05 11:07:58.152,2023-10-05T07:08:04.358,40.99.245.82,None,443,0,75.41.1.200,None,9456,NaN,...,<none>,6,0,0,0,58.747002,140.871994,0.264,225604,232
4,2023-10-05 11:07:58.124,2023-10-05T07:07:58.239,75.41.1.200,None,44738,0,151.101.183.5,None,443,NaN,...,<none>,6,0,0,0,0.051000,0.186000,0.328,189139,142
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
721,2023-10-05 15:15:35.440,2023-10-05T11:15:35.47,10.200.2.9,None,22,0,10.200.2.1,None,4516,NaN,...,<none>,6,0,0,0,3.079000,0.014000,0.133,168,5
722,2023-10-05 15:14:57.906,2023-10-05T11:14:57.906,10.200.2.9,None,68,0,10.200.2.1,None,67,NaN,...,<none>,17,0,0,0,0.000000,0.000000,0.000,300,1
723,2023-10-05 15:15:35.440,2023-10-05T11:15:35.44,10.200.2.9,None,80,0,10.200.2.1,None,44698,NaN,...,<none>,6,0,0,0,0.000000,0.000000,0.166,40,1
724,2023-10-05 15:17:02.306,2023-10-05T11:17:02.787,10.200.2.9,None,35824,0,34.117.65.55,None,443,NaN,...,<none>,6,0,0,0,0.131000,239.903000,0.285,200,4
725,2023-10-05 15:17:02.306,2023-10-05T11:17:02.930,34.117.65.55,None,443,0,10.200.2.9,None,35824,NaN,...,<none>,6,0,0,0,0.131000,239.903000,0.285,268,5

## Attack 2

All traffic is benign except:
1) students and michael logging into server31 to start their attacks
2) Outbound from server31 (10.200.4.19)
    - This traffic is the students attacking the metasploit box and the cowrie honeypot. 
3) Outbound from michael on LDAP box (10.200.1.105) to Metasploit box (10.200.5.12)

In [102]:
attack2 = pd.read_parquet("./attack2_parquet/")

In [67]:
meta='10.200.5.12'  # metasploit box, the destination of the attacks in attack 2
server31='10.200.4.19'  # origin of student attacks that were attacking metasploit box 
michael_src='10.200.1.105' # origin of michael's attacks that were attacking metasploit box
cowrie = '10.200.2.9' # cowrie honeypot, which was attacked FROM server 31

In [4]:
attack2['label'] = 0

In [5]:
attack2.head()

,t_first,t_last,src4_addr,src6_addr,src_port,src_tos,dst4_addr,dst6_addr,dst_port,icmp_code,...,label,proto,sampled,export_sysid,fwd_status,app_latency,cli_latency,srv_latency,out_bytes,out_packets
0,2023-10-10 13:30:54.499,2023-10-10T09:30:54.592,10.200.0.1,None,39935,0,10.200.0.102,None,80,NaN,...,0,6,0,0,0,0.230,0.018,0.132,104518,76
1,2023-10-10 13:45:11.604,2023-10-10T09:45:11.821,10.200.0.1,None,61029,0,10.200.0.102,None,80,NaN,...,0,6,0,0,0,0.231,0.015,0.108,353,4
2,2023-10-10 13:00:25.922,2023-10-10T09:00:25.922,10.200.0.102,None,22,0,10.200.0.1,None,20562,NaN,...,0,6,0,0,0,0.000,0.000,0.132,40,1
3,2023-10-10 13:00:25.923,2023-10-10T09:00:26.68,10.200.0.102,None,80,0,10.200.0.1,None,22382,NaN,...,0,6,0,0,0,0.242,0.008,0.131,301,6
4,2023-10-10 14:30:47.630,2023-10-10T10:30:47.103,10.200.0.102,None,80,0,10.200.0.1,None,26170,NaN,...,0,6,0,0,0,0.001,0.003,0.000,224,7

### Inbound from the public internet on port 65530

These are the students logging into server 31 via SSH in order to run their commands

In [99]:
attack2[attack2['dst_port'] == 65530]

,t_first,t_last,src4_addr,src6_addr,src_port,src_tos,dst4_addr,dst6_addr,dst_port,icmp_code,...,label,proto,sampled,export_sysid,fwd_status,app_latency,cli_latency,srv_latency,out_bytes,out_packets
183011,2023-10-10 13:38:11.816,2023-10-10T09:38:30.510,104.54.195.69,None,56443,0,75.41.1.200,None,65530,NaN,...,0,6,0,0,0,57.555000,24.601999,0.431,3932,44
183012,2023-10-10 13:48:35.237,2023-10-10T09:48:35.265,104.54.195.69,None,56443,0,75.41.1.200,None,65530,NaN,...,0,6,0,0,0,0.000000,25.476999,0.309,224,2
183013,2023-10-10 13:50:33.502,2023-10-10T09:50:46.66,104.54.195.69,None,56443,0,75.41.1.200,None,65530,NaN,...,0,6,0,0,0,298.704010,26.594000,0.367,1156,17
183021,2023-10-10 13:24:41.763,2023-10-10T09:24:46.867,108.194.50.82,None,62555,0,75.41.1.200,None,65530,NaN,...,0,6,0,0,0,1525.725952,28.924999,0.577,1636,9
183022,2023-10-10 13:30:03.595,2023-10-10T09:30:04.328,108.194.50.82,None,62555,0,75.41.1.200,None,65530,NaN,...,0,6,0,0,0,704.450989,28.742001,0.498,136,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1928765,2023-10-10 13:22:01.971,2023-10-10T09:24:04.907,72.48.121.19,None,59973,0,75.41.1.200,None,65530,NaN,...,0,6,0,0,0,1848.048950,135.554993,0.406,9688,96
1928855,2023-10-10 13:18:26.101,2023-10-10T09:19:00.4,76.30.1.248,None,52498,0,75.41.1.200,None,65530,NaN,...,0,6,0,0,0,0.360000,87.237999,0.498,4780,60
1928856,2023-10-10 13:29:17.210,2023-10-10T09:29:47.392,76.30.1.248,None,52498,0,75.41.1.200,None,65530,NaN,...,0,6,0,0,0,0.426000,123.632004,0.401,4708,42
1928857,2023-10-10 13:39:13.636,2023-10-10T09:39:27.784,76.30.1.248,None,52498,0,75.41.1.200,None,65530,NaN,...,0,6,0,0,0,0.226000,503.134003,0.658,2636,31
1928861,2023-10-10 14:12:06.706,2023-10-10T10:12:27.949,99.112.160.72,None,52220,0,75.41.1.200,None,65530,NaN,...,0,6,0,0,0,1435.458984,73.661003,0.337,1904,29

In [101]:
attack2[attack2['dst_port'] == 65534].groupby('dst4_addr').count() # students logging in

,t_first,t_last,src4_addr,src6_addr,src_port,src_tos,dst6_addr,dst_port,icmp_code,icmp_status,...,label,proto,sampled,export_sysid,fwd_status,app_latency,cli_latency,srv_latency,out_bytes,out_packets
dst4_addr,,,,,,,,,,,,,,,,,,,,,
10.200.1.105,5,5,5,0,5,5,0,5,0,0,...,5,5,5,5,5,5,5,5,5,5
75.41.1.200,14,14,14,0,14,14,0,14,0,0,...,14,14,14,14,14,14,14,14,14,14

In [100]:
attack2[attack2['dst_port'] == 65530].groupby('src4_addr').count() # these are the student source IPs

,t_first,t_last,src6_addr,src_port,src_tos,dst4_addr,dst6_addr,dst_port,icmp_code,icmp_status,...,label,proto,sampled,export_sysid,fwd_status,app_latency,cli_latency,srv_latency,out_bytes,out_packets
src4_addr,,,,,,,,,,,,,,,,,,,,,
104.54.195.69,30,30,0,30,30,30,0,30,0,0,...,30,30,30,30,30,30,30,30,30,30
108.194.50.82,28,28,0,28,28,28,0,28,0,0,...,28,28,28,28,28,28,28,28,28,28
128.62.41.209,30,30,0,30,30,30,0,30,0,0,...,30,30,30,30,30,30,30,30,30,30
172.56.92.252,21,21,0,21,21,21,0,21,0,0,...,21,21,21,21,21,21,21,21,21,21
172.56.93.41,1,1,0,1,1,1,0,1,0,0,...,1,1,1,1,1,1,1,1,1,1
209.166.121.147,29,29,0,29,29,29,0,29,0,0,...,29,29,29,29,29,29,29,29,29,29
209.166.122.206,45,45,0,45,45,45,0,45,0,0,...,45,45,45,45,45,45,45,45,45,45
209.166.122.37,32,32,0,32,32,32,0,32,0,0,...,32,32,32,32,32,32,32,32,32,32
209.166.122.61,30,30,0,30,30,30,0,30,0,0,...,30,30,30,30,30,30,30,30,30,30
209.166.123.41,37,37,0,37,37,37,0,37,0,0,...,37,37,37,37,37,37,37,37,37,37
209.166.124.238,24,24,0,24,24,24,0,24,0,0,...,24,24,24,24,24,24,24,24,24,24
24.160.16.132,51,51,0,51,51,51,0,51,0,0,...,51,51,51,51,51,51,51,51,51,51
45.20.198.248,43,43,0,43,43,43,0,43,0,0,...,43,43,43,43,43,43,43,43,43,43
64.189.110.196,37,37,0,37,37,37,0,37,0,0,...,37,37,37,37,37,37,37,37,37,37
64.189.110.209,30,30,0,30,30,30,0,30,0,0,...,30,30,30,30,30,30,30,30,30,30
64.189.110.227,21,21,0,21,21,21,0,21,0,0,...,21,21,21,21,21,21,21,21,21,21
66.112.241.212,30,30,0,30,30,30,0,30,0,0,...,30,30,30,30,30,30,30,30,30,30
66.112.241.217,18,18,0,18,18,18,0,18,0,0,...,18,18,18,18,18,18,18,18,18,18
66.112.242.29,35,35,0,35,35,35,0,35,0,0,...,35,35,35,35,35,35,35,35,35,35
66.112.246.128,25,25,0,25,25,25,0,25,0,0,...,25,25,25,25,25,25,25,25,25,25
70.112.193.254,7,7,0,7,7,7,0,7,0,0,...,7,7,7,7,7,7,7,7,7,7
70.113.238.131,39,39,0,39,39,39,0,39,0,0,...,39,39,39,39,39,39,39,39,39,39
70.114.204.88,10,10,0,10,10,10,0,10,0,0,...,10,10,10,10,10,10,10,10,10,10
70.121.11.120,34,34,0,34,34,34,0,34,0,0,...,34,34,34,34,34,34,34,34,34,34
72.182.96.106,26,26,0,26,26,26,0,26,0,0,...,26,26,26,26,26,26,26,26,26,26
72.183.164.44,32,32,0,32,32,32,0,32,0,0,...,32,32,32,32,32,32,32,32,32,32
72.48.121.19,54,54,0,54,54,54,0,54,0,0,...,54,54,54,54,54,54,54,54,54,54
72.48.121.20,34,34,0,34,34,34,0,34,0,0,...,34,34,34,34,34,34,34,34,34,34
76.30.1.248,31,31,0,31,31,31,0,31,0,0,...,31,31,31,31,31,31,31,31,31,31
99.112.160.72,40,40,0,40,40,40,0,40,0,0,...,40,40,40,40,40,40,40,40,40,40

### Outbound from server31 (10.200.4.19)

- These are the student scans/attacks originating from server31, targeting the metasploit box (10.200.5.12) and the cowrie honeypot (10.200.2.9)

In [97]:
#attack2[attack2['src4_addr'] == '10.200.4.19']

In [98]:
#attack2[attack2['src4_addr'] == '10.200.4.19'].groupby('dst4_addr').count().sort_values(by='t_first', ascending=False)

In [104]:
# label as malicious

def malicious(src4_addr, dst4_addr, dst_port):
    if (src4_addr=='10.200.4.19' and dst4_addr=='10.200.5.12'): # students attacking metasploit box
        label=1
    elif (src4_addr=='10.200.4.19' and dst4_addr=='10.200.2.9'): # students attacking cowrie honeypot
        label=1
    elif (dst_port == 65530 and dst4_addr=='75.41.1.200'): # students logging in
        label=1
    elif (src4_addr=='10.200.1.105' and dst4_addr=='10.200.5.12'): # Michael attacking metasploit box
        label=1
    elif (dst_port == 65534 and (dst4_addr=='75.41.1.200' or dst4_addr=='10.200.1.105')): # Michael logging in
        label=1
    else:
        label=0
    return label

In [105]:
attack2['label'] = attack2.apply(lambda x: malicious(x['src4_addr'], x['dst4_addr'], x['dst_port']), axis=1)

In [109]:
#attack2.groupby('label').count()

In [108]:
attack2.label.value_counts()

label
0    1181362
1     747500
Name: count, dtype: int64

In [110]:
attack2.to_parquet('attack2_labeled.parquet')

In [111]:
new_attack2 = pd.read_parquet('attack2_labeled.parquet')

In [112]:
len(new_attack2)

1928862

In [113]:
len(attack2)

1928862